@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}
table,
td,
th {
  border: 1px solid;
  height: fit-content;
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.orange-li-bg{
  background: rgb(2,0,36);  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(255, 103, 2) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 4%);
}
.purple-lin-bg{
  background: rgb(2,0,36);  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(85, 5, 85) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 4%);
}
.blue-lin-bg{
  background: rgb(2,0,36);  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(19, 231, 247) 0%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 4%);
}
.custome-shadow{
  box-shadow:  4px 9px 20px gray; 
}